body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.isLoggedIn,
.isNotLoggedIn,
.flashMessage {
  display: none;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 10px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

svg {
  margin-right: 10px;
  margin-left: 5px;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  line-height: 30px;
}

.sidebar .category-link {
  line-height: 20px !important;
  background-color: rgba(100, 102, 105, .05);
  margin-top: 1px;

}

.sidebar .account-list {
  margin-top: 20px;
  padding-top: 20px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: white;
  background-color: #656769;
}

.sidebar .nav-link.active:hover {
  color: white;
  background-color: #656769;
}

.sidebar .nav-link.open {
  color: black;
  background-color: #65676919;
}

.sidebar .nav-link.open:hover {
  color: black;
  background-color: #65676919;
}


.sidebar .nav-link:hover {
  background-color: #65676919;
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* Navbar */

.push-right {
  float: right;
  height: 30px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar {
  height: 60px;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

input[type=text],
input[type=password] {
  border: 2px solid rgb(215, 215, 215) !important;
  border-radius: 4px !important;
}

.nav-button {
  padding: 5px 10px;
}

.navbar .currentUsername {
  font-size: 14px;
  color: white;
}

.navbar .avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

/* ALERT/FLASH */
.alert {
  margin-top: 15px;
  margin-bottom: 0px;
}

#signup-form {
  width: 50vh;
}

/* PROFILE */

.profile-content {
  padding-top: 20px;
  background-color: #f8f9fa !important;
  margin-top: 20px;
}

.profile-content .avatar {
  height: 130px;
  width: 130px;
}

#profile-buttons {
  padding-bottom: 16px;
}

/* POSTS */
.post {
  margin-bottom: 20px;
}

.post .avatar {
  height: 30px;
  width: 30px;
}

.post .voting {
  text-align: center;
  width: 23px;
  margin: 0 auto;
}

.post-footer {
  height: 30px;
}

.post-footer-text {
  line-height: 30px;
}

.post-content {
  padding: 16px;
  background-color: #f8f9fa !important;
}

.post-title,
.post-text {
  padding-left: 16px;
  padding-right: 16px;
}

.post-category {
  margin-left: 10px;
}